#header {
  width: 748px;
  text-align: center;
  overflow: auto;
  border-bottom: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
}

#avatar {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#nickname {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

#username {
  color: grey;
  margin-bottom: 10px;
}

#follow-button {
  width: 80px;
  height: 40px;
  background-color: orange;
  margin-left: 334px;
  line-height: 40px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

#follow-button:hover {
  background-color: #d78d00;
}

.unfollow-button {
  background-color: #2d2d2d;
}
