#container {
  width: 497px;
  min-height: 100vh;
  overflow: hidden;
}

#panel-title {
  padding: 15px;
  margin-bottom: 5px;
}

#desc {
  color: #8c7e74;
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.option {
  padding: 15px;
  margin-bottom: 15px;
}

.checked-checkbox {
  fill: #f08e1d;
}

.category-name {
  float: left;
  cursor: pointer;
  color: #0f1419;
}

.checkbox-div {
  float: right;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  left: 9px;
  top: -8px;
}

.checkbox-div:hover {
  background-color: #fdf1e8;
}

.checkbox {
  position: relative;
  top: 6px;
  left: 6px;
}
