<div id="container">
  <h2 id="panel-title">账号信息</h2>
  <div class="user-info-item">
    <div class="user-info-item-name">用户名</div>
    <div class="user-info-item-value">@{{userInfo.username}}</div>
  </div>
  <div class="user-info-item">
    <div class="user-info-item-name">电子邮箱</div>
    <div class="user-info-item-value">{{userInfo.email}}</div>
  </div>
  <div class="user-info-item">
    <div class="user-info-item-name">账号注册时间</div>
    <div class="user-info-item-value">{{userInfo.timeCreated}}</div>
  </div>
</div>
