<div id="container">
  <div id="navi-bar">
    <div id="navi-hot" class="navi-option" (click)="onHotSelected()"
         [ngStyle]="{'border-bottom-color': selected[0] ? 'orange' : '#e5e5e5'}">热门
    </div>
    <div id="navi-latest" class="navi-option" (click)="onLatestSelected()"
         [ngStyle]="{'border-bottom-color': selected[1] ? 'orange' : '#e5e5e5'}">最新
    </div>
    <div id="navi-user" class="navi-option" (click)="onUserSelected()"
         [ngStyle]="{'border-bottom-color': selected[2] ? 'orange' : '#e5e5e5'}">用户
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
