<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用来指定该映射文件所对应Mapper接口的全限定名 -->
<mapper namespace="com.n34.space.mapper.MessageMapper">
    <select id="getMessagesBetweenTwoUsers" resultType="Message">
        select * from message
        where (sender_id = #{user1Id} and receiver_id = #{user2Id}) or (sender_id = #{user2Id} and receiver_id = #{user1Id})
        order by time_created;
    </select>
</mapper>