<div id="container" (click)="onClick($event)">
  <div id="left">
    <img [src]="user.avatarFilename === null ? 'assets/default_avatar.webp' :
    'http://localhost:9090/images/' + user.avatarFilename" alt="" id="avatar">
  </div>
  <div id="right">
    <div id="top-right">
      <div id="nickname-and-username-div">
        <a id="nickname">{{user.nickname}}</a>
        <div id="username">@{{user.username}}</div>
      </div>
      <div id="follow-button-div">
        <div id="follow-button" (click)="onFollowButtonClick()" [ngClass]="{'follow-button': !this.user.followedByMe, 'unfollow-button': this.user.followedByMe}">
          {{user.followedByMe ? '取消关注' : '关注'}}
        </div>
      </div>
      <div style="clear: both"></div>
    </div>
    <div id="bottom-right">
      {{user.introduction}}
    </div>
  </div>

  <div style="clear: both"></div>
</div>
