#container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#avatar {
  margin-left: 10px;
  margin-top: 10px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

#left {
  float: left;
  width: 68px;
}

#right {
  float: left;
  width: 679px;
}

#follow-button-div {
  float: right;
}

#nickname-and-username-div {
  margin-top: 10px;
  float: left;
}

#nickname {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: black;
}

#nickname:hover {
  text-decoration: underline;
}

#username {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

#follow-button {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.unfollow-button {
  border: 1px solid #c9c9c9;
}

#bottom-right {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.unfollow-button:hover {
  background-color: rgba(255, 0, 0, 0.15);
  color: red;
  border: 1px solid #ff9292;
}

.follow-button {
  background-color: black;
  color: white;
  border: none;
}

.follow-button:hover {
  background-color: #282828;
}
