#post-publish {
  border-bottom: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  border-left: solid #e5e5e5 1px;
}

#no-post-prompt {
  width: 749px;
  text-align: center;
  margin-top: 75px;
  font-size: 30px;
  font-weight: bold;
}
