<div *ngFor="let comment of comments" id="container">
  <div id="left">
    <img id="avatar" [src]="comment.avatarFilename === null ? 'assets/default_avatar.webp' :
    'http://localhost:9090/images/' + comment.avatarFilename" alt="">
  </div>
  <div id="right">
    <div id="right-top">
      <div id="nickname">{{comment.nickname}}&nbsp;</div>
      <div id="username-and-time">@{{comment.username}}&nbsp;·&nbsp;{{comment.timeCreated}}</div>
    </div>
    <div id="right-bottom">{{comment.content}}</div>
  </div>
  <div style="clear: both"></div>
</div>
