#container {
  overflow: hidden;
  width: 749px;
  border-left: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  min-height: 100vh;
}

.icon {
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 15px;
}

#comment-user-part {
  height: 70px;
}

#comment-user-part-left {
  width: 70px;
  height: 70px;
  float: left;
}

#comment-user-part-right {
  height: 70px;
  width: 672px;
  float: left;
  margin-left: 5px;
}

#comment-user-nickname {
  display: block;
  margin-top: 15px;
  height: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#comment-user-username {
  height: 20px;
  color: gray;
}

#comment-content {
  padding: 10px 15px;
  font-size: 15px;
  word-wrap: break-word;
}

#comment-create-time {
  padding: 10px 15px;
  color: gray;
}

#like-and-reply-part {
  margin-left: 15px;
  margin-top: 10px;
  width: 717px;
  border-top: 1px solid #f4f1ef;
  border-bottom: 1px solid #f4f1ef;
}

.comment-like-and-reply-button {
  height: 30px;
  width: 358px;
  float: left;
  line-height: 30px;
  text-align: center;
  color: grey;
  fill: grey;
}

.likedByMe {
  color: orange;
  fill: orange;
}

#comment-like-button {
  cursor: pointer;
}

#comment-like-button:hover {
  color: orange;
  fill: orange;
}

#reply-input-part {
  border-bottom: 1px solid #f4f1ef;
}

#reply-input-box {
  margin-top: 20px;
  margin-left: 20px;
  width: 709px;
  border-style: none;
  font-size: 20px;
  resize: none;
  outline: none;
}

#reply-publish-button {
  float: right;
  margin-bottom: 10px;
  margin-right: 15px;
  border: none;
  background-color: #f07c1d;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#reply-publish-button:hover {
  background-color: #d26b19;
}

#reply-to-publish-length {
  float: left;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 40px;
  color: gray;
}
