#container {
  width: 497px;
}

#panel-title {
  padding: 15px;
  margin-bottom: 5px;
}

#user-bar {
  width: 497px;
  height: 68px;
}

#user-bar:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#avatar {
  margin-top: 10px;
  margin-left: 15px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

#user-bar-left {
  float: left;
  width: 68px;
}

#user-bar-right {
  float: left;
}

#follow-button-div {
  float: right;
}

#nickname-and-username-div {
  margin-top: 15px;
  float: left;
}

#nickname {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: black;
}

#username {
  font-size: 14px;
  color: gray;
  margin-top: 3px;
}

#follow-button {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.unfollow-button {
  border: 1px solid #c9c9c9;
}

#bottom-right {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.unfollow-button:hover {
  background-color: rgba(255, 0, 0, 0.15);
  color: red;
  border: 1px solid #ff9292;
}

.follow-button {
  background-color: black;
  color: white;
  border: none;
}

.follow-button:hover {
  background-color: #282828;
}

.password-input-box {
  width: 465px;
  height: 60px;
  border: 1px solid #ded7cf;
  border-radius: 5px;
  margin: 15px 0 20px 14px;
}

.focused-input-box {
  border: 2px solid #f0671d;
  height: 58px;
  width: 463px;
}

.field-name {
  color: #8c7e74;
  padding: 5px;
}

.focused-field-name {
  color: #f0671d;
  padding: 4px;
}

input {
  border: none;
  outline: none;
  width: 458px;
  text-indent: 5px;
  font-size: 16px;
}

#delete-account-button {
  width: 497px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #f4212e;
  cursor: pointer;
}

#delete-account-button:hover {
  background-color: #fee8ea;
}

#delete-account-button:active {
  background-color: #fdd3d5;
}
