<div id="container">
  <div id="top">
    <div id="left-top">
      <img id="avatar" [src]="this.reply.avatarFilename == null ? 'assets/default_avatar.webp' :
    'http://localhost:9090/images/' + this.reply.avatarFilename" alt="">
    </div>
    <div id="right-top">
      <div id="right-top-line-1">
        <a id="nickname" [routerLink]="['/app/users', reply.username]">{{reply.nickname}}</a>
        <div id="usernameAndTime">@{{reply.username}}&nbsp;·&nbsp;{{reply.timeCreated}}</div>
        <div style="clear: both"></div>
      </div>
      <div id="right-top-line-2" (click)="onClickInReplyContent($event)" [innerHTML]="reply.html | safeHtml"></div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div id="bottom">
    <div class="button" [ngStyle]="{'width': showDeleteButton ? '33%' : '50%'}" (click)="clickLikeButton()" [ngClass]="{'likedByMe': reply.likedByMe}">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.619H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1h3.482a1 1 0 0 0 .817-.423L11.752.85a.5.5 0 0 1 .632-.159l1.814.907a2.5 2.5 0 0 1 1.305 2.853L14.6 8zM7 10.588V19h11.16L21 12.104V10h-6.4a2 2 0 0 1-1.938-2.493l.903-3.548a.5.5 0 0 0-.261-.571l-.661-.33-4.71 6.672c-.25.354-.57.644-.933.858zM5 11H3v8h2v-8z"/></svg>
      &nbsp;{{reply.numLike}}</div>
    <div class="button" [ngStyle]="{'width': showDeleteButton ? '33%' : '50%'}" (click)="clickReplyButton()">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 3h4a8 8 0 1 1 0 16v3.5c-5-2-12-5-12-11.5a8 8 0 0 1 8-8zm2 14h2a6 6 0 1 0 0-12h-4a6 6 0 0 0-6 6c0 3.61 2.462 5.966 8 8.48V17z"/></svg>
    </div>
    <div class="button" *ngIf="showDeleteButton" style="width: 33%" (click)="deleteReply()">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z"/></svg>    </div>
  </div>
</div>

<div id="window-background" *ngIf="replyInputWindowVisible"></div>

<div id="reply-input-window" *ngIf="replyInputWindowVisible">
  <div>
    <textarea maxlength="140" id="reply-input-box" [placeholder]="'回复@' + reply.username" [(ngModel)]="replyInputBoxContent"></textarea>
  </div>
  <div>
    <div id="reply-input-box-length">{{replyInputBoxContent.length}}/140</div>
    <div class="reply-input-window-button" id="cancel-reply-input" (click)="closeReplyInputWindow()">取消</div>
    <div class="reply-input-window-button" id="submit-reply" (click)="submitReply()">提交</div>
  </div>
</div>
