#no-followee-prompt {
  width: 749px;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

#container {
  width: 749px;
  border-left: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  min-height: 100vh;
}
