#container {
  width: 749px;
  border-left: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  min-height: 100vh;
}

#navi-bar {
  height: 50px;
  border-bottom: solid #e5e5e5 1px;
}

.navi-option {
  float: left;
  height: 50px;
  width: 50%;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.navi-option:hover {
  background-color: #f4f1ef;
}

.notification {
  border-bottom: solid #e5e5e5 1px;
  cursor: pointer;
}

.notification:hover {
  background-color: #f7f7f7;
}

.unread {
  background-color: #ecf2f3;
}

.notification-left-top {
  width: 70px;
  float: left;
}

.notification-avatar {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 10px;
}

.notification-right-top {
  margin-top: 10px;
  float: left;
  width: 677px;
}

.notification-nickname {
  float: left;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.notification-nickname:hover {
  text-decoration: underline;
}

.notification-username-and-time {
  float: left;
  margin-left: 5px;
  color: gray;
}

.notification-right-top-line-2 {
  font-size: 15px;
  margin-top: 5px;
  word-wrap: break-word;
  margin-bottom: 5px;
  padding-right: 5px;
}

.replied-text-div {
  width: 711px;
  margin-top: 6px;
  margin-left: 6px;
  padding: 10px 12px;
  border: 1px #ded5cf solid;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.replied-text-div:hover {
  background-color: #efefef;
}

.replied-username {
  color: orangered;
}

.replied-username:hover {
  text-decoration: underline;
}

.replied-text {
  max-width: 100%;
}
