<div id="container" (click)="closeMenu($event)">
  <div id="left">
    <img id="avatar" [src]="this.post.authorAvatarFilename === null ? 'assets/default_avatar.webp' :
    'http://localhost:9090/images/' + this.post.authorAvatarFilename" alt="">
  </div>
  <div id="right">
    <div id="right-top">
      <a id="nickname" [routerLink]="['/app/users', post.authorUsername]">{{post.authorNickname}}</a>
      <div id="usernameAndTime">@{{post.authorUsername}}&nbsp;·&nbsp;{{post.timeCreated}}</div>
      <img src="assets/more.svg" alt="" id="more" (click)="showMenu()" *ngIf="this.canEdit">
      <div id="menu" *ngIf="this.menuVisible">
        <div class="menu-item" (click)="edit()">修改</div>
        <div class="menu-item" (click)="delete()">删除</div>
      </div>
    </div>
    <div id="content" (click)="onClickInPostContent($event)" [innerHTML]="post.html | safeHtml"></div>
    <div id="bottom">
      <div class="button" (click)="clickLikeButton()" [ngClass]="{'likedByMe': post.likedByMe}">
        点赞&nbsp;{{post.numLike}}</div>
      <div class="button" (click)="clickReplyButton()">回复&nbsp;{{post.numComment}}</div>
    </div>
  </div>
</div>
<div id="window-background" *ngIf="this.editWindowVisible || this.commentWindowVisible"></div>
<div id="edit-window" *ngIf="this.editWindowVisible">
  <div>
    <textarea maxlength="140" id="update-input-box" [(ngModel)]="editInputBoxContent"></textarea>
  </div>
  <div>
    <div id="edit-input-box-length">{{editInputBoxContent.length}}/140</div>
    <div class="edit-window-button" id="cancel-update" (click)="cancelUpdate()">取消</div>
    <div class="edit-window-button" id="submit-update" (click)="submitUpdate()">提交</div>
  </div>
</div>
<div id="comment-window" *ngIf="this.commentWindowVisible">
  <div style="height: 24px">
    <img id="close-comment-window-button" (click)="closeCommentWindow()" src="assets/close-line.svg" alt="">
  </div>
  <div>
    <textarea id="comment-input-box" maxlength="140" placeholder="发布你的回复"
              [(ngModel)]="commentInputBoxContent"></textarea>
  </div>
  <div style="height: 70px;">
    <div id="comment-input-box-length">{{commentInputBoxContent.length}}/140</div>
    <div id="submit-comment-button" (click)="submitComment()">提交</div>
  </div>
  <div id="comment-list" (scroll)="getNewCommentPage($event)">
    <app-comment-list [comments]="this.comments"></app-comment-list>
  </div>
</div>
