#container {
  width: 749px;
  border-left: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  min-height: 100vh;
  position: relative;
}

#avatar {
  position: absolute;
  top: 175px;
  right: 579px;
  border-radius: 75px;
}

#edit-button-div {
  height: 100px;
}

#nickname {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

#edit-button {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  width: 130px;
  height: 40px;
  background-color: white;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ccc8c5;
  cursor: pointer;
  font-weight: bold;
}

#edit-button:hover {
  background-color: #cccccc;
}

#upload-avatar-button {
  position: absolute;
  top: 300px;
  background-color: #66bed5;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 40px;
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
}

#upload-avatar-button > input {
  display: none;
}

#info-panel {
  position: absolute;
  top: 390px;
  left: 250px;
}

#fields {
  float: left;
}

#values {
  float: left;
  margin-left: 100px;
}

.field,
.value {
  font-size: 20px;
  height: 80px;
  line-height: 80px;
}

#nickname-value {
  float: left;
}

#edit-nickname-button {
  margin-left: 20px;
  float: left;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  color: blue;
  cursor: pointer;
}

#edit-nickname-input-box {
  font-size: 16px;
  height: 20px;
  margin-top: 30px;
  float: left;
}
