.container {
  margin: 0 auto;
  width: 1350px;
  overflow: auto;
}

#left-sidebar {
  position: fixed;
  float: left;
  width: 250px;
}

#content {
  float: left;
  width: 749px;
  margin-left: 250px;
}

#right-sidebar {
  float: left;
  width: 350px;
}

#search-box {
  position: fixed;
  background-color: #f4f1ef;
  border-style: none;
  width: 325px;
  height: 50px;
  margin-left: 25px;
  border-radius: 25px;
  line-height: 50px;
  text-indent: 40px;
  margin-top: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 10px;
}

#search-box>input {
  background-color: #f4f1ef;
  border-style: none;
  width: 260px;
  font-size: 15px;
  outline: none;
  resize: none;
}

#hot-hashtag-list {
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 75px;
  margin-left: 25px;
  width: 325px;
  background-color: #f9f8f7;
  overflow: hidden;
}

.hot-hashtag {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.hot-hashtag:hover {
  background-color: #f1f0ef;
}

#hot-user-list {
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-left: 25px;
  width: 325px;
  background-color: #f9f8f7;
  overflow: hidden;
}

.hot-user-list-item-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-top: 10px;
  margin-right: 10px;
}

.hot-user-list-item-left {
  float: left;
}

.hot-user-list-item-middle {
  float: left;
}

.hot-user-list-item-right {
  float: right;
}

.hot-user-list-item-nickname {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: black;
}

.hot-user-list-item-nickname:hover {
  text-decoration: underline;
}

.hot-user-list-item-username {
  font-size: 14px;
  color: gray;
}

.hot-user-list-item-button {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.hot-user-list-item-unfollow-button {
  border: 1px solid #c9c9c9;
}

.hot-user-list-item-unfollow-button:hover {
  background-color: rgba(255, 0, 0, 0.15);
  color: red;
  border: 1px solid #ff9292;
}

.hot-user-list-item-follow-button {
  background-color: black;
  color: white;
  border: none;
}

.hot-user-list-item-follow-button:hover {
  background-color: #272c30;
}

.hot-user-list-item {
  padding-left: 15px;
  padding-right: 15px;
}
