<form>
  <input type="text" id="username" name="username" class="form-element" placeholder="用户名" [(ngModel)]="userInfo.username">
  <input type="password" id="password" name="password" class="form-element" placeholder="密码" [(ngModel)]="userInfo.password">
  <input type="text" id="nickname" name="nickname" class="form-element" placeholder="昵称" [(ngModel)]="userInfo.nickname">
  <input type="text" id="email" name="email" class="form-element" placeholder="邮箱" [(ngModel)]="userInfo.email">
  <button class="form-element" id="login-button" (click)="register()">注册</button>
  <p id="login-tip">已有账号？<a id="login-link" routerLink="/login">去登录！</a></p>
</form>
